h1 {
  font-family: var(--cool-font);
  font-size: var(--fs-xxxl);
  color: var(--dark-brown);
}

h1 ~ p {
  font-size: var(--fs-lg);
  max-width: 500px;
  margin: 0 auto;
}

.hero-container {
  padding-top: 240px;
  padding-bottom: 160px;
}

.authors-section {
  padding: 120px 0;
}

.faq-section {
  padding-bottom: 120px;
}

.props-section {
  background-color: var(--dark-gray);
  color: white;
  padding: 80px 0;
}

.props-section > div {
  max-width: 700px;
  margin: 0 auto;
  border: 3px solid var(--orange);
  border-radius: 12px;
  padding: 80px 40px;
}

.props-section h2 {
  color: white;
}

.hero-cookie {
  height: 120px;
  width: 120px;
  margin: 0 30px;
  border: 3px solid var(--orange);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 12px 0px var(--orange-a35);
  box-shadow: 0px 4px 12px 0px var(--orange-a35);
}

.column {
  float: left;
  width: 45%;
  padding-left: 25px;
  padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3;
}

.grid img {
  padding-bottom: 20px;
}

.grid-authors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
