.emo-title {
    font-family: Comic Sans;
    color: purple;
    font-size: 300%;
    background-color: lightskyblue;
    text-align: center;
}

.emo-text {
    font-family: Arial;
    color: darkorchid;
    font-size: 100%;
    background-color: lightblue;
}

.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }