:root {
  --dark-brown: #915731;
  --orange: #D18436;
  --orange-a35: rgba(209,132,54,0.35);
  --light-orange: #F8EDE7;
  --dark-gray: #1B1C20;
  --cool-font: 'Fruktur', sans-serif;
  --basic-font: 'Roboto', sans-serif;
  --fs-xxxl: 48px;
  --fs-xxl: 38px;
  --fs-xl: 32px;
  --fs-lg: 24px;
  --fs-md: 18px;
  --fs-rg: 16px;
  --fs-sm: 14px;
}

body {
  margin: 0;
  font-family: var(--basic-font);
  font-size: var(--fs-rg);
  background-color: var(--light-orange);
  color: var(--dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
}

.align-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: space-between;
}


/* Move to individual pages CSS - Out of index.css */
h2 {
  font-family: var(--cool-font);
  font-size: var(--fs-xl);
  color: var(--dark-brown);
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--cool-font);
  font-size: var(--fs-lg);
  color: var(--dark-brown);
  margin: 0;
  margin-bottom: 5px;
}
