.nav-wrapper {
  background-color: var(--light-orange);
  height: 80px;
}
.nav-container,
.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.nav-left a {
  margin: 0 30px;
}
.nav-left a:first-child {
  margin-left: 0;
}
.nav-left a,
.nav-container input {
  font-weight: 700;
}
.nav-left a {
  font-size: var(--fs-md);
  color: var(--dark-brown);
  text-decoration: none;
}
.nav-container input {
  cursor: pointer;
  font-family: var(--basic-font);
  font-size: var(--fs-sm);
  background-color: var(--dark-brown);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid var(--orange);
  border-radius: 8px;
  transition: all .3s ease;
}
.nav-container input:hover {
  background-color: var(--orange);
  box-shadow: 0 0 10px 1px rgba(145,87,49,0.3);
}